
#chat { width: 100%; font-size: 14px; }
#chat a { font-weight: bold; color: black; }
#messages, #users { height: 20em; overflow-x: hidden; overflow-y: auto; }
#messages { border-top: 2px solid #ccc; border-left: 2px solid #ccc; }
#messages div, #users div { font-family: monospace; line-height: 1.2em; }
#messages div { text-indent: -3em; margin-left: 3em; }
#users div { white-space: nowrap; }
#users { width: 150px; float: right; border: 2px solid #ccc;
         border-bottom: none; }
#postform { border: 2px solid #ccc; }
#msgtext { width: 100%; border: none; outline: none; clear: both;
           font-family: monospace; }
#explain { text-align: center; font-family: sans-serif; font-size: small;
           color: #666; }
