
body { padding: 0 50px; min-width: 850px; }
body p { text-align: justify; }
header, nav, h1, h2, h3, h4 { font-family: sans-serif; }
a { text-decoration: none; }
img { border: none; }
h1 { font-size: 1.7em; margin: 0 0; }
h2 { font-size: 1.5em; margin: 0 0; }

header h1 { margin-bottom: 0; padding-top: 0.5em; font-size: 3em; }
header h1 .red { color: #a00; }
header h2 { margin: 0; font-size: 1.5em; }

#loginbox { float: right; text-align: right; }

#navbar ul {
    padding: 0;
    width: 100%;
    float: left;
    background: #333;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.30);
    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.30);
}

#navbar li {
    display: inline;
    padding: 0;
    margin: 0;
    float: left;
    border-right: 1px solid #000;
    border-left: 1px solid #666;
}
#navbar li.first { border-left: none; }
#navbar li.last { border-right: none; }

#navbar li a, #navbar li.last span {
    line-height: 2;
    display: block;
    height: 2em;
    color: white;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.3);
    text-decoration: none;
    padding: 0.2em 1em;
}

#navbar li a:hover {
    background: #900;
}

#right { width: 250px; font-family: sans-serif; font-size: 0.9em; 
         vertical-align: top; }
#left { margin-right: 1em; padding: 0 0.5em; vertical-align: top; }

article { clear: both; }
article h1 { margin-bottom: 0; font-size: 1.5em; }
article h1 a { color: black; }
article p, article blockquote { font-size: 1.1em; line-height: 1.4em; }
article blockquote { color: #333; }
article p.info { color: #777; font-family: sans-serif; font-size: 0.9em;
                 margin-top: 0; }

footer { clear: both; }
footer p { border-top: 1px solid #999; padding-top: 0.5em;
           font-family: sans-serif; font-size: 0.7em; text-align: right; }

.formtable th { text-align: right; vertical-align: top; line-height: 2em;
                white-space: nowrap; font-family: sans-serif;
                font-size: small; }
.formtable .helptext { font-size: small; color: #666; }
ul.errorlist { padding: 0; margin: 0; list-style-type: none;
               font-family: sans-serif; font-size: small; }
ul.errorlist li { color: red; font-weight: bold; padding: 0; margin: 0; }

#article-page { }

#recent-articles h4 { margin-top: 0; }
#recent-articles .item { margin-bottom: 0.5em; }
#recent-articles .item .info { font-size: x-small; color: #777; }

.comment { margin: 1em 1em; font-family: sans-serif; font-size: small; }
.comment p { margin: 0.5em 0; }
.comment .arrows { float: left; margin-left: -1em; font-weight: bold; }
.comment .info { color: #666; }
.comment .links { }
.comment .links a { margin-right: 0.5em; font-family: sans-serif; }
.comment .content { }
.comment .arrows a { color: #aaa; font-weight: bold; }
.comment .arrows a.upvoted { color: red; }
.comment .arrows a.downvoted { color: blue; }
.comment .removed { background: #fcc; }
#post span { color: red; }
#post img { display: none; }

.bubble { font-family: sans-serif; font-size: 13px; }

.attendee-info .links { margin-bottom: 0; }
.attendee-info .info { margin-top: 0; }
.yes { font-weight: bold; color: #0a0; }
.no { font-weight: bold; color: #a00; }
.maybe { font-weight: bold; color: #cd950c; }
