{% extends "ride_base.html" %}

{% block js_init %}
  {{ block.super }}
  rides_init({
    "map": document.getElementById("map"),
    "center": new google.maps.LatLng(41.87723,-87.629013),
    "zoom": 5,
    "update_rides" : true,
  });
{% endblock js_init %}



{% block ride_content %}
    <div style="float:left ">
        <h1>
          Bus/Carpool

          <img id="loader" style="display:none" src="{{ MEDIA_URL }}img/ajax-loader.gif" width="16" height="16" />
        </h1>
          <nav>
            {% if user_ride %}
                <a href="{% url ride_info user_ride.id %}">View Your Ride</a>
            {% else %}{% if user_ride_request %}
                <a href="{% url ride_info user_ride_request.ride.id %}" >View Your Ride Request</a>
            {% else %}
                <a href="{% url ride_create %}">Add a ride</a>
            {% endif %}{% endif %}
          </nav>
        <br><br>
        <div style="border-style:solid; border-width:1px; padding:3px; width:220px">
            <b>Map Key</b><br>
            Click on a line to view the ride and request a seat.<br><br>
            Blue markers stand as starting points for rides. 
        </div>
    </div>
    <div style="width: 75%; height: 500px; float:right" id="map"></div>
{% endblock ride_content %}
