occupywallst.db
django_cache
occupywallst/settings_local.py
occupywallst/settings_dev_local.py
chat/settings_local.json
chat/node_modules
occupywallst.min.js
occupywallst/whoosh

core
*.pyc
*.pyo
*.pyc
*.o
*.bak
*~
*.rej
*.orig
.figleaf*
*.egg-info
*.egg
._*
.DS_Store
Thumbs.db*
docs/_build
.figleaf*
*.egg-info
*.egg
build
deps
dist
pip-log.txt
