style
  #chat { width: 100%; }
  #messages, #users { height: 20em; overflow-x: hidden; overflow-y: auto; }
  #messages { border-top: 2px solid #ccc; border-left: 2px solid #ccc; }
  #messages div, #users div { font-family: monospace; line-height: 1em; }
  #messages div { text-indent: -3em; margin-left: 3em; }
  #users div { white-space: nowrap; }
  #users { width: 150px; float: right; border: 2px solid #ccc;
           border-bottom: none; }
  #postform { border: 2px solid #ccc; }
  #msgtext { width: 100%; border: none; outline: none; clear: both;
             font-family: monospace; }
#chat 
  div#users
  div#messages
  form#postform
    input#msgtext(autocomplete='off')
script
  var me = null;
  function display(msg) {
    var line;
    if (msg.user) {
      if (msg.emo) {
        line = " * " + msg.user.name + " " + msg.text;
      } else {
        line = "<" + msg.user.name + "> " + msg.text;
      }
    } else {
      line = "-!- " + msg.text
    }
    $("#messages").append($("<div/>").text(line));
    $("#messages").prop({scrollTop: $("#messages").prop("scrollHeight")});
  }
  function add_user(user) {
    $("#users").append($("<div/>").text(user.name));
  }
  function remove_user(user) {
    $("#users div").each(function () {
      if ($(this).text() == user.name) {
        $(this).remove();
      }
    });
  }
  $(function(){
    $("#msgtext").focus();
    var chat = io.connect("/chat");
    chat.on('connect', function () {
      chat.emit("join", {room: "pub"});
    });
    chat.socket.on('error', function (reason) {
      display({text: "error: " + reason});
    });
    chat.on("msg", display);
    chat.on("join_ack", function (msg) {
      me = msg.user;
      display({text: "Welcome " + me.name + "!"});
      display({text: "Joined: " + msg.room});
      for (var k in msg.users) {
        add_user(msg.users[k]);
      }
    });
    chat.on("leave", function (msg) {
      display({text: msg.user.name + " has left"});
      remove_user(msg.user);
    });
    chat.on("leave_ack", function (msg) {
      display({text: "you have left " + msg.room});
      $("#users").empty();
    });
    chat.on("kicked", function (msg) {
      display({text: "you were kicked from " + msg.room});
    });
    chat.on("join", function (msg) {
      add_user(msg.user);
      display({text: msg.user.name + " has joined"});
    });
    $("#postform").submit(function () {
      if (!me)
        return false;
      var text = $("#msgtext").val();
      $("#msgtext").val("");
      if (text.length < 2)
        return;
      if (text[0] == "/") {
        var command, args;
        if (text.indexOf(" ") != -1) {
          command = text.slice(1, text.indexOf(' '));
          args = text.slice(text.indexOf(' ') + 1);
        } else {
          command = text.slice(1);
          args = '';
        }
        if (command == "kick") {
          chat.emit("kick", {room: "pub", user: {name: args}});
        } else if (command == "me") {
          var msg = {
            room: "pub",
            user: me,
            text: args,
            emo: true
          };
          display(msg);
          chat.emit("msg", msg);
        } else {
          display({text: "unknown command"});
        }
      } else {
        var msg = {
          room: "pub",
          user: me,
          text: text,
          emo: false
        };
        display(msg);
        chat.emit("msg", msg);
      }
      return false;
    });
  });
