{% extends 'occupywallst/base.html' %}

{% block stylesheets %}
  {{ block.super }}
  <style type="text/css">
    #navbar .nav-about { background: #900; }
  </style>
{% endblock stylesheets %}

{% block content %}
  <table style="width:100%"><tbody><tr><td id="left">
    <section id="about">
      <h1>About</h1>
      <p>
        OccupyWallSt.org is a social networking tool created by
        activists, for activists.
      </p>
      <h3>Press Release</h3>
      <p>
        On 13 Jul 2011, the group Adbusters released this
        call: <a href="http://www.adbusters.org/blogs/adbusters-blog/occupywallstreet.html">Occupy
        Wall Street!</a>
      </p>
      <p>
        In Solidarity, and as a response to this call, a planning
        group was formed
        [<a href="http://occupywallst.org/">occupywallst.org</a>], and
        an info sharing site established.  The participation of every
        person, and every organization, that has an interest in
        returning the US back into the hands of it's individual
        citizens is required.
      </p>
      <p>
        Our nation, our species and our world are in crisis. The US has
        an important role to play in the solution, but we can no longer
        afford to let corporate greed and corrupt politics set the
        policies if our nation.
      </p>
      <p>
        We, the people of the United States of America, considering the
        crisis at hand, now reassert our sovereign control of our land.
      </p>
      <p>
        Solidarity Forever!
      </p>
    </section>
  </td><td id="right">
    <h2 style="margin-top:0">Contact</h2>
    <p>All Inquiries:</p>
    <ul>
      <li>
        Email: <a href="mailto:info@occupywallst.org">info@occupywallst.org</a>
      </li>
      <li>
        Phone: +1 (516) 708-4777
      </li>
    </ul>
    <h2>Source Code</h2>
    <ul>
      <li>
        <a href="https://github.com/jart/occupywallst/">OccupyWallSt</a>
        (GitHub)
      </li>
    </ul>
  </td></tr></tbody></table>
{% endblock content %}
