{% extends base %}
{% load ows %}

{% block title %}About Us | {{ OWS_SITE_NAME }}{% endblock title %}

{% block stylesheets %}
  <style type="text/css">
    #navbar .nav-about {
      background: #900;
      background: -webkit-gradient(linear, left top, left bottom, from(#a11), to(#900));
      background: -moz-linear-gradient(top,  #a11,  #900);
    }
  </style>
{% endblock stylesheets %}

{% block content %}
  <table style="width:100%"><tbody><tr><td id="left">
    <div id="about">
      {{ verbiage.about }}
    </div>
  </td><td id="right">
    {{ verbiage.about_sidebar }}
  </td></tr></tbody></table>
{% endblock content %}
