{% extends 'occupywallst/base.html' %}
{% load comments %}

{% block scripts %}
  {{ block.super }}
  <script src="/media/js/article.js?v=1" type="text/javascript"></script>
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  article_init();
{% endblock js_init %}

{% block content %}
  <table style="width:100%"><tbody><tr><td id="left">
    <article id="{{ article.slug }}">
      <h1><a title="View Full Article" href="{{ article.get_absolute_url }}">
          {{ article.title }}</a></h1>
      <p class="info">
        Published {{ article.published|date:"Y-m-d h:i:s T" }}
        by {{ article.author.username }}
      </p>
      {{ article.content|safe }}
    </article>
    <h2><span id="comment-count">{{ article.comment_count }}</span>
        Comments</h2>
    <div class="postform">
      {% if user.is_authenticated %}
        <textarea rows="5" cols="50"></textarea><br />
        <button class="save">submit</button>
        <img src="/media/img/ajax-loader.gif" width="16" height="16" />
        <span></span>
      {% else %}
        <p>Must be <a href="/login/">logged in</a> to comment.</p>
      {% endif %}
    </div>
    <section id="comments">
      {% show_comments user comments %}
    </section>
  </td><td id="right">
    <section id="recent-articles">
      <h2 style="margin-top:0">Recent Articles</h2>
      {% for article in recent %}
        <div class="item">
          <div class="info">
            {{ article.published|date:"Y-m-d" }}
            by {{ article.author.username }}
          </div>
          <div class="title">
            <a title="View Article" href="{{ article.get_absolute_url }}">
              {{ article.title }}</a>
          </div>
        </div>
      {% endfor %}
    </section>
  </td></tr></tbody></table>

  <p style="display:none" class="replyform">
    <textarea rows="5" cols="50"></textarea><br />
    <button class="save">save</button>
    <button class="cancel">cancel</button>
    <img src="/media/img/ajax-loader.gif" width="16" height="16" />
    <span></span>
  </p>

{% endblock content %}
