{% load ows i18n l10n %}

<article class="article {% if user and user.userinfo.can_moderate and article.is_removed %}removed{% endif %}" id="{{ article.slug }}">
  {% include "occupywallst/article_info.html" %}
  <div class="words">
    {% if read_more %}
      {% if article.allow_html %}
        {{ article.content|read_more:article.get_absolute_url|markup_unsafe }}
      {% else %}
        {{ article.content|read_more:article.get_absolute_url|markup }}
      {% endif %}
    {% else %}
      {% if article.allow_html %}
        {{ article.content|markup_unsafe }}
      {% else %}
        {% if article.is_forum %}
          {{ article.content|markup|nofollow }}
        {% else %}
          {{ article.content|markup }}
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  {% if not read_more %}
    <!-- <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      <a class="addthis_button_tweet"></a>
      <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
      <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f3871aa2b611a75"></script> -->
  {% endif %}
  <p class="view-comments">
    <a title="{% trans 'View Comments' %}" href="{{ article.get_absolute_url }}#comments">
      {{ article.comment_count|localize }} {% trans 'Comments' %}</a>
  </p>
</article>
