{% load ows i18n l10n %}

<article class="article" id="{{ article.slug }}">
  {% include "occupywallst/article_info.html" %}
  <div class="words">
    {% if read_more %}
      {% if article.allow_html %}
        {{ article.content|read_more:article.get_absolute_url|markup_unsafe }}
      {% else %}
        {{ article.content|read_more:article.get_absolute_url|markup }}
      {% endif %}
    {% else %}
      {% if article.allow_html %}
        {{ article.content|markup_unsafe }}
      {% else %}
        {% if article.is_forum %}
          {{ article.content|markup|nofollow }}
        {% else %}
          {{ article.content|markup }}
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  <p class="view-comments">
    <a title="{% trans 'View Comments' %}" href="{{ article.get_absolute_url }}#comments">
      {{ article.comment_count|localize }} {% trans 'Comments' %}</a>
  </p>
</article>
