{% extends base %}
{% load ows %}

{% block title %}{{ article.title }} | OccupyWallSt.org {% if forum %}Forum{% endif %}{% endblock title %}

{# this is ESPECIALLY important for SEO because news articles are
  displayed both on the index page and the forum page.  we don't
  want google indexing both! #}
{% block canonical %}
  <link rel="canonical" href="{{ OWS_CANONICAL_URL }}{{ article.get_absolute_url }}" />
{% endblock canonical %}

{% block stylesheets %}
  <style type="text/css">
    {% if forum %}
      #navbar .nav-forum { background: #900; }
    {% else %}
      #navbar .nav-news { background: #900; }
    {% endif %}
  </style>
{% endblock stylesheets %}

{% block scripts %}
  <script src="/media/js/article.js?v=5" type="text/javascript"></script>
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  article_init();
{% endblock js_init %}

{% block content %}
  <table style="width:100%"><tbody><tr><td id="left">
    <article id="{{ article.slug }}">
      <h1>
        <a href="{{ article.get_forum_url }}">{{ article.title }}</a>
      </h1>
      <p class="info">
        {% if forum %}
          Posted {{ article.published|timesince_short }} ago
        {% else %}
          Posted {{ article.published|date:"Y-m-d h:i:s T" }}
        {% endif %}
        by <a rel="author" title="View {{ article.author.username }}'s profile"
              class="user" href="{{ article.author.get_absolute_url }}">
          {{ article.author.username }}</a>
        {% if article.is_forum %}
          {% if article.author.userinfo.city and article.author.userinfo.region %}
            ({{ article.author.userinfo.city }}, {{ article.author.userinfo.region }})
          {% endif %}
        {% endif %}
      </p>
      {% if not article.is_forum and article.author.is_staff %}
        {{ article.content|safe }}
      {% else %}
        {{ article.content|linebreaks }}
      {% endif %}
    </article>
    <h2 id="comments">
      <span id="comment-count">{{ article.comment_count }}</span> Comments
    </h2>
    <div class="postform">
      {% if user.is_authenticated %}
        <textarea rows="5" cols="70"></textarea><br />
        <button class="save">post comment</button>
        <img class="loader" src="/media/img/ajax-loader.gif"
             width="16" height="16" />
        <span class="error"></span>
      {% else %}
        <p>Must be <a href="/login/">logged in</a> to comment.</p>
      {% endif %}
    </div>
    <section id="comment-list">
      {% show_comments user comments %}
    </section>
  </td><td id="right">
    {% if not forum %}
      <h3 style="margin-top:0">Other Articles</h3>
    {% endif %}
    <section id="recents">
      {% for recent in recents %}
        {% if recent.id != article.id %}
          <div class="item clickdiv">
            <div class="info">
              {{ recent.comment_count }} comments
              {{ recent.published|timesince_short }} ago
              by <a title="View {{ recent.author.username }}'s profile"
                    class="user" href="{{ recent.author.get_absolute_url }}">
                {{ recent.author.username }}</a>
            </div>
            <div class="title">
              <a class="primary" title="View Thread"
                 href="{{ recent.get_forum_url }}">{{ recent.title }}</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </td></tr></tbody></table>

  <p style="display:none" class="replyform">
    <textarea rows="5" cols="70"></textarea><br />
    <button class="save">save</button>
    <button class="cancel">cancel</button>
    <img class="loader" src="/media/img/ajax-loader.gif" width="16" height="16" />
    <span class="error"></span>
  </p>

{% endblock content %}
