{% load ows %}
{% load i18n %}
{% load l10n %}

{% get_current_language as LANGUAGE_CODE %}
{% translate_object article LANGUAGE_CODE %}
<h1><a href="{{ article.get_absolute_url }}">
  {% if article.is_forum and not article.author.is_staff %}Forum Post:{% endif %}
  {{ article.title }}
</a></h1>
<p class="info">

{% blocktrans with date=article.published|as_timezone:"US/Eastern"|date:"DATETIME_FORMAT" timesince=article.published|timesince_short username=article.author|userlink %}
Posted {{ date }} EST ({{ timesince }} ago) by {{ username }}
{% endblocktrans %}

{% if article.is_forum and article.author and article.author.userinfo.city and article.author.userinfo.region %}
{% blocktrans with city=article.author.userinfo.city region=article.author.userinfo.region %}
({{ city }}, {{ region }})
{% endblocktrans %}
{% endif %}

  {% if user and user.is_staff %}
    | <a href="/admin/occupywallst/{% if article.is_forum %}forumpost{% else %}newsarticle{% endif %}/{{ article.id }}/">{% trans 'admin' %}</a>
    | <a class="edit" href="#">{% trans 'edit' %}</a>
    | <a class="remove" href="#">{% if not article.is_visible %}{% trans 'unremove' %}{% endif %}{% trans 'remove' %}</a>
  {% else %}
    {% if user and user.is_authenticated and user == article.author %}
      | <a class="edit" href="#">{% trans 'edit' %}</a>
      | <a class="delete" href="#">{% trans 'delete' %}</a>
    {% endif %}
  {% endif %}
  {% if article.is_forum and not article.author.is_staff %}
    <br />
    {% trans 'This content is user submitted and not an official statement' %}
  {% endif %}
</p>
