{% extends 'occupywallst/base.html' %}

{% block scripts %}
  {{ block.super }}
  <script src="/media/js/article.js?v=1" type="text/javascript"></script>
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  article_init();
{% endblock js_init %}

{% block content %}
  <div id="right">
    <section id="other-articles">
      <h4>Recent Articles</h4>
      {% for article in recent %}
        <div class="item">
          <div class="date">
            {{ article.published|date:"Y-m-d" }}
            by {{ article.author.username }}
          </div>
          <div class="title">
            <a title="View Article" href="{{ article.get_absolute_url }}">
              {{ article.title }}</a>
          </div>
        </div>
      {% endfor %}
    </section>
  </div>
  <div id="left">
    <article id="{{ article.slug }}" class="news-item">
      <h3><a title="View Full Article" href="{{ article.get_absolute_url }}">
          {{ article.title }}</a></h3>
      <p class="news-info">
        Published {{ article.published|date:"Y-m-d h:i:s" }}
        by {{ article.author.username }}
      </p>
      {{ article.content|safe }}
    </article>
    <section id="comments">
      <h4><span id="comment-count">{{ article.comment_count }}</span>
          Comments</h4>
      <div id="comment-post">
        {% if user.is_authenticated %}
          <textarea rows="5" cols="50"></textarea><br />
          <button>submit</button>
          <img src="/media/img/ajax-loader.gif" width="16" height="16" />
          <span></span>
        {% else %}
          <p>Must be <a href="/login/">logged in</a> to comment.</p>
        {% endif %}
      </div>
      <div id="comment-list">
        {% for comment in comments %}
          {% if not comment.is_removed or user.is_staff %}
            {% include "occupywallst/comment.html" %}
          {% endif %}
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock content %}
