{% load ows %}
{% load i18n %}
{% load l10n %}

<article id="{{ article.slug }}">
  {% include "occupywallst/article_info.html" %}
  <div class="words">
    {% if article.allow_html %}
      {{ article.content|markup_unsafe }}
    {% else %}
      {{ article.content|not_more:article.get_absolute_url }}
    {% endif %}
  </div>
  <p class="view-comments">
    <a title="View Comments" href="{{ article.get_absolute_url }}#comments">
      {{ article.comment_count|localize }} Comments</a>
  </p>
</article>
