{% load ows %}
{% load i18n %}
{% load l10n %}

  {% get_current_language as LANGUAGE_CODE %}
  {% translate_object article LANGUAGE_CODE %}
  <h1><a href="{{ article.get_absolute_url }}">
    {{ article.title }}
    {% if article.is_forum and not article.author.is_staff %}(User Submitted){% endif %}
  </a></h1>
  <p class="info">
    {% trans "Posted" %} {{ article.published|as_timezone:"US/Eastern"|date:"DATETIME_FORMAT" }} EST
    {% if forum %}
      ({{ article.published|timesince_short }} {% trans "ago" %})
    {% endif %}
    {% trans "by" %}
    {% if not article.author %}
      anonymous
    {% else %}
      <a rel="author" title="View {{ article.author.username }}'s profile"
         class="user" href="{{ article.author.get_absolute_url }}">
      {{ article.author.username }}</a>
      {% if article.is_forum %}
        {% if article.author.userinfo.city and article.author.userinfo.region %}
          ({{ article.author.userinfo.city }}, {{ article.author.userinfo.region }})
        {% endif %}
      {% endif %}
      {% if user and user.is_staff %}
        | <a href="/admin/occupywallst/{% if article.is_forum %}forumpost{% else %}newsarticle{% endif %}/{{ article.id }}/">admin</a>
        | <a class="edit" href="#">edit</a>
        | <a class="remove" href="#">{% if not article.is_visible %}un{% endif %}remove</a>
      {% else %}
        {% if user and user.is_authenticated and user == article.author %}
          | <a class="edit" href="#">edit</a>
          | <a class="delete" href="#">delete</a>
        {% endif %}
      {% endif %}
    {% endif %}
  </p>
