{% extends base %}

{% block title %}OccupyWallSt.org | User Map{% endblock title %}

{% block stylesheets %}
  <style type="text/css">
    #navbar .nav-attendees { background: #900; }
  </style>
{% endblock stylesheets %}

{% block scripts %}
  <script src="//maps.google.com/maps/api/js?sensor=false&region=us" type="text/javascript"></script>
  <script src="//maps.google.com/maps/api/js?libraries=places&sensor=false&region=us" type="text/javascript"></script>
  <script src="/media/js/attendees.js?v=6" type="text/javascript"></script>
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  attendees_init({
    "map": document.getElementById("map"),
    "center": new google.maps.LatLng(40.717712644386026, -74.00913921356198),
    "zoom": 5
  });
{% endblock js_init %}

{% block content %}
  <section id="attendees">
    <h1 style="margin-bottom: 0.5em; ">
      User Map
      <img id="loader" class="loader" src="/media/img/ajax-loader.gif" width="16" height="16" />
    </h1>
    <div style="width: 100%; height: 500px; " id="map"></div>
  </section>
{% endblock content %}
