{% load ows i18n l10n %}

<div class="bubble attendee-info" id="{{ user.username }}">

  <p class="links">
    <a href="{{ user.get_absolute_url }}">
      <strong>{{ user.username }}</strong></a>
    {% if user.userinfo.city and user.userinfo.region %}
      | {{ user.userinfo.city }}, {{ user.userinfo.region }}
    {% endif %}
  </p>
  <div class="profile">
    {{ user.userinfo.info|linebreaks }}
  </div>

  <p class="postform">
    <textarea rows="3" cols="40"></textarea><br />
    <button class="save">{% trans 'send private message' %}</button>
    <img class="loader" src="{{ MEDIA_URL }}img/ajax-loader.gif" width="16" height="16" />
    <span class="error"></span>
  </p>

</div>
