<title>{% block title %}OccupyWallSt.org | News & Logistics for September 17th{% endblock title %}</title>
{% block stylesheets %}
{% endblock stylesheets %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24711946-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% block content %}
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
<script type="text/javascript">
  $(function() {
    {% block js_init %}
    {% endblock js_init %}
  });
</script>
