<!DOCTYPE html>
<html>
<head>
  {% load ows %}
  <meta charset="utf-8" />
  <title>{% block title %}OccupyWallSt.org | News & Logistics for September 17th{% endblock title %}</title>
  <link rel="shortcut icon" href="/media/img/bull16.png" />
  <meta name="description" content="News, maps and logistics for protesters attending the two month occupation of Wall Street starting September 17th." />
  {% block canonical %}
    <link rel="canonical" href="{{ OWS_CANONICAL_URL }}{{ request.path }}" />
  {% endblock canonical %}
  <link rel="alternate" type="application/rss+xml" title="OccupyWallSt News" href="/rss/news/" />
  <link rel="alternate" type="application/rss+xml" title="OccupyWallSt Forum Threads" href="/rss/forum/" />
  <link rel="alternate" type="application/rss+xml" title="OccupyWallSt News/Forum Comments" href="/rss/comments/" />
  <link rel="stylesheet" href="/media/css/occupywallst.css?v=10" type="text/css" media="all" />
  <link rel="stylesheet" href="/media/css/occupywallst_print.css?v=9" type="text/css" media="print" />
  <link rel="stylesheet" href="/media/css/article.css?v=9" type="text/css" media="all" />
  {% block extra_head %}
  {% endblock extra_head %}
  {% block stylesheets %}
  {% endblock stylesheets %}
</head>
<body>
  {% block body %}
    {% block header %}
      <header>
        <div id="userbox">
          {% if user.is_authenticated %}
            Welcome <a href="{{ user.get_absolute_url }}">{{ user.username }}</a>
            &mdash; <a href="/logout/">logout</a>
          {% else %}
            Welcome!
            <a href="/login/">login</a> |
            <a href="/signup/">signup</a>
          {% endif %}
        </div>
        <h1><a href="/"><span class="red">Occupy</span>WallStreet</a></h1>
        <h2>News and Logistics for September 17th</h2>
      </header>
    {% endblock header %}
    {% block nav %}
      <nav>
        <div id="navbar">
          <ul>
            <li class="item nav-news first"><a class="fast" title="News Articles" href="/">News</a></li>
            <li class="item nav-forum"><a title="Public discussion board" href="/forum/">Forum</a></li>
            <li class="item nav-attendees"><a class="fast" title="Map of people involved" href="/attendees/">Map</a></li>
            <li class="item nav-rides"><a class="fast" title="Free Bus/Carpool Rides" href="/rides/">Rides</a></li>
            <li class="item nav-calendar"><a class="fast" title="Google Calendar" href="/calendar/">Calendar</a></li>
            <li class="item nav-chat"><a class="fast" title="Web-based chatroom" href="/chat/">Chat</a></li>
            <li class="item nav-conf"><a class="fast" title="Telephone Conference Bridges" href="/conference/">Conference</a></li>
            <li class="item nav-about"><a class="fast" title="About Us" href="/about/">About</a></li>
            <li class="last">
              <a title="Facebook Event" href="http://www.facebook.com/event.php?eid=144937025580428"><img width="24" height="24" src="/media/img/facebook.png" /></a>
              <a title="Our Twitter Page" href="https://twitter.com/#!/OccupyWallSt"><img width="24" height="24" src="/media/img/twitter.png" /></a>
              <a title="Reddit" href="http://www.reddit.com/r/occupywallstreet/"><img width="24" height="23" style="padding-bottom:3px" src="/media/img/reddit.png" /></a>
            </li>
          </ul>
        </div>
      </nav>
      <div style="clear:both"></div>
    {% endblock nav %}
    <div id="content">
      {% block content %}
        <p>
          No Content Available.
        </p>
      {% endblock content %}
    </div>
    {% block footer %}
      <footer>
        <p>
          this site was brought to you by various radicals<br />
          email: <a href="mailto:info@occupywallst.org">info@occupywallst.org</a> | telephone: +1 (516) 708-4777<br />
        </p>
      </footer>
    {% endblock footer %}
    <div id="notifications" style="display:none">
      <div class="info">
        <span>Notifications</span>
      </div>
      <div class="items">
      </div>
    </div>
  {% endblock body %}
  <script src="/media/js/jquery-1.6.2{% if not DEBUG %}.min{% endif %}.js" type="text/javascript"></script>
  {% if not DEBUG and OWS_SCRIPTS_MINIFIED %}
    <script src="{{ MEDIA_URL }}{{ OWS_SCRIPTS_MINIFIED }}?v=9" type="text/javascript"></script>
  {% else %}
    {% for script in OWS_SCRIPTS %}
      <script src="{{ MEDIA_URL }}{{ script }}?v=9" type="text/javascript"></script>
    {% endfor %}
  {% endif %}
  <script src="//chat.{{ request.get_host }}/socket.io/socket.io.js" type="text/javascript"></script>
  {% block scripts %}
  {% endblock scripts %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24711946-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    function api(path, data, callback) {
        data.csrfmiddlewaretoken = "{{ csrf_token }}";
        return $.post(path, data, callback, "json");
    }
    $(function() {
      {% block js_init %}
        ows_init({
          notifications: {{ notifications|jsonify|safe }}
        });
      {% endblock js_init %}
    });
  </script>
</body>
</html>
