<!DOCTYPE html>
<html>
<head>
  {% load ows %}
  {% load i18n %}
  {% get_current_language as LANGUAGE_CODE %}
  {% get_current_language_bidi as LANGUAGE_BIDI %}
  <meta charset="utf-8" />
  <title>{% block title %}{{ verbiage.title }}{% endblock title %}</title>
  <link rel="shortcut icon" href="{{ MEDIA_URL }}img/bull16.png" />
  <meta name="description" content="{% block description %}{{ verbiage.description }}{% endblock description %}</title>" />
  {% block canonical %}
    <link rel="canonical" href="{{ OWS_CANONICAL_URL }}{{ request.path }}" />
  {% endblock canonical %}
  <link rel="alternate" type="application/rss+xml" title="{{ OWS_SITE_NAME }} News" href="{% url rss-news %}" />
  <link rel="alternate" type="application/rss+xml" title="{{ OWS_SITE_NAME }} Forum" href="{% url rss-forum %}" />
  <link rel="alternate" type="application/rss+xml" title="{{ OWS_SITE_NAME }} Comments" href="{% url rss-comments %}" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/occupywallst.css?v=32" type="text/css" media="all" />
  {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/occupywallst_rtl.css?v=32" type="text/css" media="all" />
  {% endif %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/occupywallst_print.css?v=9" type="text/css" media="print" />
  {% block extra_head %}
  {% endblock extra_head %}
  {% block stylesheets %}
  {% endblock stylesheets %}
</head>
<body>
  {% get_language_info for LANGUAGE_CODE as lang %}
  {% if LANGUAGE_CODE != 'en' %}
    <div id="halptranslate">{{ lang.name }} translations are still a work in progress.  Please volunteer! <a href="mailto:translate@occupywallst.org">translate@occupywallst.org</a></div>
  {% endif %}
  {% block body %}
    {% block header %}
      <header>
        <div id="userbox">
          {% trans "Welcome" %}
          {% if user.is_authenticated %}
            <a href="{{ user.get_absolute_url }}">{{ user.username }}</a> |
            {% if user.is_staff %}
              <a href="{% url admin:index %}">{% trans "admin" %}</a> |
            {% endif %}
            <a href="{% url logout %}">{% trans "logout" %}</a>
          {% else %}
            <a href="{% url login %}">{% trans "login" %}</a> |
            <a href="{% url signup %}">{% trans "signup" %}</a>
          {% endif %}
          {% get_language_info_list for LANGUAGES as languages %}
          <form id="setlanguage" action="/i18n/setlang/" method="post">
            <input name="next" type="hidden" value="{{ request.path }}" />
            <input name="language" type="hidden" value="" />
            {% trans "Language" %}
            {% for language in languages %}
              {% if language.code == LANGUAGE_CODE %}
                <strong title="{{ language.name_local }}">{{ language.code }}</strong>
              {% else %}
                <a title="{{ language.name_local }}" href="#">{{ language.code }}</a>
              {% endif %}
            {% endfor %}
          </form>
        </div>
        {{ verbiage.header }}
      </header>
    {% endblock header %}
    {% block nav %}
      <nav>
       {{ verbiage.navbar }}
      </nav>
      <div style="clear:both"></div>
    {% endblock nav %}
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    {% block footer %}
      <footer>
       {{ verbiage.footer }}
      </footer>
    {% endblock footer %}
    <div id="notifications" style="display:none">
      <div class="info">
        <span>{% trans "Notifications" %}</span>
      </div>
      <div class="items">
      </div>
    </div>
  {% endblock body %}
  <script src="{{ MEDIA_URL }}js/jquery-1.6.2{% if not DEBUG %}.min{% endif %}.js" type="text/javascript"></script>
  {% if not DEBUG and OWS_SCRIPTS_MINIFIED %}
    <script src="{{ MEDIA_URL }}{{ OWS_SCRIPTS_MINIFIED }}?v=24" type="text/javascript"></script>
  {% else %}
    {% for script in OWS_SCRIPTS %}
      <script src="{{ MEDIA_URL }}{{ script }}?v=24" type="text/javascript"></script>
    {% endfor %}
  {% endif %}
  <!-- <script src="//chat.{{ request.get_host }}/socket.io/socket.io.js" type="text/javascript"></script> -->
  {% block scripts %}
  {% endblock scripts %}
  <script type="text/javascript">
    {{ verbiage.scripts }}
    function api(path, data, callback) {
        if (path.match(/^\/api\/safe\//)) {
            return $.get(path, data, callback, "json");
        } else {
            return $.post(path, data, callback, "json");
        }
    }
    $(function() {
      {% block js_init %}
        ows_init({
          notifications: {{ notifications|jsonify }}
        });
      {% endblock js_init %}
    });
  </script>
</body>
</html>
