<!DOCTYPE html>
<html>
<head>
  {% load ows %}
  {% load i18n %}
  {% get_current_language as LANGUAGE_CODE %}
  <meta charset="utf-8" />
  <title>{% block title %}Occupy Wall Street | {% trans "NYC Protest for American Revolution" %}{% endblock title %}</title>
  <link rel="shortcut icon" href="{{ MEDIA_URL }}img/bull16.png" />
  <meta name="description" content="{% trans 'News and resources for protesters attending the mass demonstration on Wall Street against financial greed and corruption' %}" />
  {% block canonical %}
    <link rel="canonical" href="{{ OWS_CANONICAL_URL }}{{ request.path }}" />
  {% endblock canonical %}
  <link rel="alternate" type="application/rss+xml" title="OccupyWallSt News" href="{% url rss-news %}" />
  <link rel="alternate" type="application/rss+xml" title="OccupyWallSt Forum Threads" href="{% url rss-forum %}" />
  <link rel="alternate" type="application/rss+xml" title="OccupyWallSt News/Forum Comments" href="{% url rss-comments %}" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/occupywallst.css?v=26" type="text/css" media="all" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/occupywallst_print.css?v=9" type="text/css" media="print" />
  {% block extra_head %}
  {% endblock extra_head %}
  {% block stylesheets %}
  {% endblock stylesheets %}
</head>
<body>
  {% block body %}
    {% block header %}
      <header>
        <div id="userbox">
          {% if user.is_authenticated %}
            {% trans "Welcome" %} <a href="{{ user.get_absolute_url }}">{{ user.username }}</a> |
            {% if user.is_staff %}
              <a href="{% url admin:index %}">{% trans "admin" %}</a> |
            {% endif %}
            <a href="{% url logout %}">{% trans "logout" %}</a>
          {% else %}
            {% trans "Welcome" %}
            <a href="{% url login %}">{% trans "login" %}</a> |
            <a href="{% url signup %}">{% trans "signup" %}</a>
          {% endif %}
        </div>
        {% verbiage 'header' LANGUAGE_CODE %}
      </header>
    {% endblock header %}
    {% block nav %}
      <nav>
       {% verbiage 'navbar' LANGUAGE_CODE %}
      </nav>
      <div style="clear:both"></div>
    {% endblock nav %}
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    {% block footer %}
      <footer>
       {% verbiage 'footer' LANGUAGE_CODE %}
      </footer>
    {% endblock footer %}
    <div id="notifications" style="display:none">
      <div class="info">
        <span>{% trans "Notifications" %}</span>
      </div>
      <div class="items">
      </div>
    </div>
  {% endblock body %}
  <script src="{{ MEDIA_URL }}js/jquery-1.6.2{% if not DEBUG %}.min{% endif %}.js" type="text/javascript"></script>
  {% if not DEBUG and OWS_SCRIPTS_MINIFIED %}
    <script src="{{ MEDIA_URL }}{{ OWS_SCRIPTS_MINIFIED }}?v=20" type="text/javascript"></script>
  {% else %}
    {% for script in OWS_SCRIPTS %}
      <script src="{{ MEDIA_URL }}{{ script }}?v=20" type="text/javascript"></script>
    {% endfor %}
  {% endif %}
  <!-- <script src="//chat.{{ request.get_host }}/socket.io/socket.io.js" type="text/javascript"></script> -->
  {% block scripts %}
  {% endblock scripts %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24711946-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    function api(path, data, callback) {
        if (path.match(/^\/api\/safe\//)) {
            return $.get(path, data, callback, "json");
        } else {
            return $.post(path, data, callback, "json");
        }
    }
    $(function() {
      {% block js_init %}
        ows_init({
          notifications: {{ notifications|jsonify }}
        });
      {% endblock js_init %}
    });
  </script>
</body>
</html>
