{% extends base %}

{% block title %}Event Calendar | OccupyWallSt.org{% endblock title %}

{% block stylesheets %}
  <style type="text/css">
    #navbar .nav-calendar { background: #900; }
  </style>
{% endblock stylesheets %}

{% block content %}
  <iframe src="https://www.google.com/calendar/embed?src=9a24srhq8ugb2l5ovamo723i0g%40group.calendar.google.com&ctz=America/New_York"
          style="border:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
  <p>
    If you want permission to post events to this calendar please
    email <a href="mailto:justine@occupywallst.org">justine@occupywallst.org</a>
  </p>
{% endblock content %}
