{% extends base %}
{% load ows %}

{% block title %}Chatroom | OccupyWallSt.org{% endblock title %}

{% block extra_head %}
  {% if room != "pub" %}<meta name="robots" content="noindex" />{% endif %}
{% endblock extra_head %}

{% block stylesheets %}
  <link rel="stylesheet" href="/media/css/chat.css?v=9" type="text/css" media="all" />
  <style type="text/css">
    #navbar .nav-chat { background: #900; }
  </style>
{% endblock stylesheets %}

{% block js_init %}
  {{ block.super }}
  chat_init({
    url: ows_sockio_url() + "chat",
    room: {{ room|jsonify|safe }}
  });
{% endblock js_init %}

{% block content %}
  {% if room == "pub" %}
    <h1>Public Chatroom</h1>
  {% else %}
    <h1>Private Chatroom: {{ room }}</h1>
  {% endif %}
  <div id="chat">
    <div id="users"></div>
    <div id="messages"></div>
    <form id="postform">
      <input id="msgtext" maxlength="200" autocomplete="off" />
    </form>
  </div>
  <p id="explain">
    Tested on Google Chrome, Mozilla Firefox, and Oprah<br />
    If you want a non-anonymous nickname, you have
    to <a href="/signup/">sign up</a> for an account or <a href="/login/">log in</a>.<br />
    {% if room == "pub" %}
      <form id="privateroom" style="text-align:center">
        <input class="room" />
        <input type="submit" value="Join Private Room" />
      </form>
    {% endif %}
  </p>
{% endblock content %}
