{% extends 'occupywallst/base.html' %}

{% block title %}OccupyWallSt | Public Chatroom{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <style type="text/css">
    #navbar .nav-chat { background: #900; }

    #chat { width: 100%; }
    #chat a { font-weight: bold; color: black; }
    #messages, #users { height: 20em; overflow-x: hidden; overflow-y: auto; }
    #messages { border-top: 2px solid #ccc; border-left: 2px solid #ccc; }
    #messages div, #users div { font-family: monospace; line-height: 1.2em; }
    #messages div { text-indent: -3em; margin-left: 3em; }
    #users div { white-space: nowrap; }
    #users { width: 150px; float: right; border: 2px solid #ccc;
             border-bottom: none; }
    #postform { border: 2px solid #ccc; }
    #msgtext { width: 100%; border: none; outline: none; clear: both;
               font-family: monospace; }
    #explain { text-align: center; font-family: sans-serif; font-size: small;
               color: #666; }
  </style>
{% endblock stylesheets %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="//chat.{{ request.get_host }}/socket.io/socket.io.js"></script>
  <script src="/media/js/chat.js?v=2" type="text/javascript"></script>
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  // work around bug in socket.io
  var uschm = document.location.protocol;
  var uport = (uschm == "http:") ? "80" : "443";
  chat_init({
    url: uschm + "//chat.{{ request.get_host }}:" + uport + "/chat"
  });
{% endblock js_init %}

{% block content %}
  <h1>Public Chat</h1>
  <div id="chat">
    <div id="users"></div>
    <div id="messages"></div>
    <form id="postform">
      <input id="msgtext" maxlength="200" autocomplete="off" />
    </form>
  </div>
  <p id="explain">
    This is still a little buggy<br />
    Tested on Google Chrome, Mozilla Firefox, and Oprah<br />
    If you want a non-anonymous nickname, you have
    to <a href="/signup/">sign up</a> for an account or <a href="/login/">log in</a>.
  </p>
{% endblock content %}
