{% extends 'occupywallst/base.html' %}

{% block title %}OccupyWallSt | Public Chatroom{% endblock title %}

{% block extra_head %}
  <link rel="stylesheet" href="/media/css/chat.css?v=4" type="text/css" media="all" />
  <style type="text/css">
    #navbar .nav-chat { background: #900; }
  </style>
{% endblock extra_head %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="//chat.{{ request.get_host }}/socket.io/socket.io.js"></script>
  <script src="/media/js/chat.js?v=2" type="text/javascript"></script>
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  // work around bug in socket.io
  var uschm = document.location.protocol;
  var uport = (uschm == "http:") ? "80" : "443";
  chat_init({
    url: uschm + "//chat.{{ request.get_host }}:" + uport + "/chat"
  });
{% endblock js_init %}

{% block content %}
  <h1>Public Chat</h1>
  <div id="chat">
    <div id="users"></div>
    <div id="messages"></div>
    <form id="postform">
      <input id="msgtext" maxlength="200" autocomplete="off" />
    </form>
  </div>
  <p id="explain">
    This is still a little buggy<br />
    Tested on Google Chrome, Mozilla Firefox, and Oprah<br />
    If you want a non-anonymous nickname, you have
    to <a href="/signup/">sign up</a> for an account or <a href="/login/">log in</a>.
  </p>
{% endblock content %}
