{% extends base %}

{% block title %}Conference Bridges | {{ OWS_SITE_NAME }}{% endblock title %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/conference.css?v=10" type="text/css" media="all" />
  <style type="text/css">
    #navbar .nav-conf {
      background: #900;
      background: -webkit-gradient(linear, left top, left bottom, from(#a11), to(#900));
      background: -moz-linear-gradient(top,  #a11,  #900);
    }
  </style>
{% endblock stylesheets %}

{% block scripts %}
  <script id="wepay-widget_script" type="text/javascript" src="https://www.wepay.com/min/js/widget.wepay.js"></script>
{% endblock %}

{% block js_init %}
  {{ block.super }}
  conference_init({
    admin: {% if user and user.is_staff %}true{% else %}false{% endif %},
    url: ows_sockio_url() + "conf",
    confs: {
      'ows.conf': {elem: $('#ows-conf')},
      'ows.conf2': {elem: $('#ows-conf2')},
      'ows.conf3': {elem: $('#ows-conf3')},
    }
  });
{% endblock js_init %}

{% block content %}
  <table style="width:100%"><tbody><tr><td id="left">
    <div id="telecom">
      <h1>Conference Bridges</h1>

      <p>When dialing these conferences please remember that they're
      public which means <big><strong>anyone who wants can listen to
      or participate in your conversation!</strong></big>  We designed
      the system this way to allow organizers to have open and
      transparent meetings which can be broadcasted over the
      Internet.</p>

      <h3>Dial: <a href="tel:+15165709225">+1 (516) 570-9225</a> (<a href="sip:ows.conf@occupywallst.org">SIP</a>)</h3>
      <div class="conference" id="ows-conf">
        <p class="details">
          <span class="count">0</span>
          <span class="people">people</span> currently in conference
          <span class="mp3stream" style="display:none">
            | <a href="/stream/ows.conf.mp3">MP3 Stream</a>
          </span>
        </p>
      </div>

      <h3>Dial: <a href="tel:+15165709226">+1 (516) 570-9226</a> (<a href="sip:ows.conf2@occupywallst.org">SIP</a>)</h3>
      <div class="conference" id="ows-conf2">
        <p class="details">
          <span class="count">0</span>
          <span class="people">people</span> currently in conference
          <span class="mp3stream" style="display:none">
            | <a href="/stream/ows.conf2.mp3">MP3 Stream</a>
          </span>
        </p>
      </div>

      <h3>Dial: <a href="tel:+15165709227">+1 (516) 570-9227</a> (<a href="sip:ows.conf3@occupywallst.org">SIP</a>)</h3>
      <div class="conference" id="ows-conf3">
        <p class="details">
          <span class="count">0</span>
          <span class="people">people</span> currently in conference
          <span class="mp3stream" style="display:none">
            | <a href="/stream/ows.conf3.mp3">MP3 Stream</a>
          </span>
        </p>
      </div>

      <h3>Private Conferences (VoIP Only)</h3>
      <ul>
        <li>sip:ows.conf.CHANGEME@occupywallst.org</li>
        <li>sips:ows.conf.CHANGEME@occupywallst.org</li>
      </ul>
      <h3>Donations</h3>
      <p>
        <a class="wepay-widget" href="https://www.wepay.com/donate/110790/?widget_type=donations&widget_donation_id=110790&widget_auth_token=6b1e4a2178f88a066984157682ce7e2260201d41&widget_show_description=1&widget_show_thermometer=1&widget_show_donations=1">Donate to Telecom Fund</a>
      </p>
    </div>
  </td><td id="right">
    <h2 style="margin-top:0">Information</h2>
    <p>
      A conference bridge (or party line) is a phone number several or
      more people can dial to have a meeting by phone.  This is useful
      if you don't want to reveal your phone number or want to chat
      with more than three people (because then you could just have a
      three-way call.)
    </p>
    <p>
      To get started, ask your group to call into one of the numbers
      below at a specified time.  Please also be aware that anyone
      is able to listen to your conversation.
    </p>
    <p>
      Once a conference has 2+ members, an "MP3 Stream" link will
      appear to allow others to listen to the meeting.  Please note
      that when streaming there's a 30 second audio delay.
    </p>
    <p>
      If you're planning an important meeting with a large number of
      people, you might want
      to <a href="mailto:justine@occupywallst.org">contact us</a> in
      advance so we can give you access to the mute/kick buttons.
    </p>
  </td></tr></tbody></table>
{% endblock content %}
