{% extends base %}
{% load ows %}

{% block title %}Donations | OccupyWallSt.org{% endblock title %}

{% block stylesheets %}
  <style type="text/css">
    #navbar .nav-donate {
      background: #900;
      background: -webkit-gradient(linear, left top, left bottom, from(#a11), to(#900));
      background: -moz-linear-gradient(top,  #a11,  #900);
    }
  </style>
{% endblock stylesheets %}

{% block content %}
  <table style="width:100%"><tbody><tr><td id="left">
    <div id="donate">
      {% verbiage 'donate' LANGUAGE_CODE %}
    </div>
  </td><td id="right">
    {% verbiage 'donate-sidebar' LANGUAGE_CODE %}
  </td></tr></tbody></table>
{% endblock content %}
