{% extends base %}
{% load ows i18n l10n %}

{% block title %}{% trans 'Edit Profile' %} | {{ OWS_SITE_NAME }}{% endblock title %}

{% block scripts %}
  <script src="//maps.google.com/maps/api/js?sensor=false&region=us" type="text/javascript"></script>
  <script src="//maps.google.com/maps/api/js?libraries=places&sensor=false&region=us" type="text/javascript"></script>
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  markfield_init({
    "elem": document.getElementById("map")
  });
{% endblock js_init %}

{% block content %}
    <section id="edit-profile" style="margin: 0 0.5em; max-width: 700px; ">
      <h1>{% trans 'Edit Profile' %}</h1>
      <form action="." method="post">{% csrf_token %}
        <table class="formtable">
          <tbody>
            {{ form.email|as_tr }}
            {{ form.attendance|as_tr }}
            {{ form.need_ride|as_tr }}
            {{ form.notify_message|as_tr }}
            {{ form.notify_news|as_tr }}
            {{ form.info|as_tr }}
            {{ form.position_lat }}
            {{ form.position_lng }}
            {{ form.formatted_address }}
            {{ form.country }}
            {{ form.region }}
            {{ form.city }}
            {{ form.address }}
            {{ form.zipcode }}
            <tr>
              <th>{% trans 'Location' %}</th>
              <td>
                <div style="width: 400px; height: 300px;" id="map"></div>
                <span class="helptext">
                  <a href="#" onClick="markfield_clear(); return false">
                    {% trans 'Click here to remove the marker.' %}</a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <p><input type="submit" value="{% trans 'Save' %}" /></p>
      </form>
    </section>
{% endblock content %}
