{% extends base %}
{% load ows %}
{% load cache %}

{% block title %}Discussion & Planning Forum | OccupyWallSt.org{% endblock title %}

{% block stylesheets %}
  <style type="text/css">
    #navbar .nav-forum { background: #900; }
  </style>
{% endblock stylesheets %}

{% block js_init %}
  {{ block.super }}
  forum_init();
{% endblock js_init %}

{% block content %}
  <table style="width:100%"><tbody><tr><td id="left">
    <h2 style="margin-top:0;margin-bottom:0.5em">Public Forum</h2>
    <!-- <p><strong>Notice:</strong> You must now sign up <a href="/signup/">sign up</a> for an account before posting.</p> -->
    <section id="thread-list" style="margin-top:0">
      {% cache 60 forum_articles %}
      {% for article in articles %}
        <div class="item clickdiv">
          <h3>
            {% if not article.is_forum %}News Article:{% endif %}
            <a class="primary" title="View Thread"
               href="{{ article.get_forum_url }}">{{ article.title }}</a>
          </h3>
          <div class="info">
            {{ article.comment_count }} comments
            {{ article.published|timesince_short }} ago
            by {% if not article.author %}anonymous{% else %}
              <a title="View {{ article.author.username }}'s profile"
                 class="user" href="{{ article.author.get_absolute_url }}">
              {{ article.author.username }}</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      {% endcache %}
    </section>
    <div class="postform">
      <div>
        <label for="title">title</label><br />
        <input class="title" id="title" maxlength="255" size="60" />
      </div>
      <div>
        <label for="content">content</label><br />
        <textarea class="content" id="content" rows="7" cols="70"></textarea>
      </div>
      <div>
        <button class="save">post thread</button>
        <img class="loader" src="/media/img/ajax-loader.gif"
             width="16" height="16" />
        <span class="error"></span>
      </div>
      {% if not user.is_authenticated %}
        <p class="warning"><strong>Warning:</strong> When posting anonymously
          you will not be able to edit/delete your post.  Please consider
          <a href="{% url signup %}">signing up for account</a>.</p>
      {% endif %}
    </div>
  </td><td id="right">
    {% cache 60 forum_sidebar %}
    <section id="recents">
      <h2 style="margin-top:0;margin-bottom:0.5em">Best Comments Today</h2>
      {% if not bests %}
        <p>None Found :'(</p>
      {% endif %}
      {% for best in bests %}
        <div class="item clickdiv recent-comment">
          <div class="title">
            <a class="primary" title="View Comment Thread"
               href="{{ best.get_forum_url }}">{{ best.content|synopsis }}</a>
          </div>
          <div class="info">
            {{ best.karma }} points
            {{ best.published|timesince_short }} ago
            by {% if not best.user %}anonymous{% else %}
              <a title="View {{ best.user.username }}'s profile"
                 class="user" href="{{ best.user.get_absolute_url }}">
              {{ best.user.username }}</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      <h2 style="margin:0.5em 0">Recent Comments</h2>
      {% for recent in recents %}
        <div class="item clickdiv recent-comment">
          <div class="title">
            <a class="primary" title="View Comment Thread"
               href="{{ recent.get_forum_url }}">{{ recent.content|synopsis }}</a>
          </div>
          <div class="info">
            {{ recent.karma }} points
            {{ recent.published|timesince_short }} ago
            by {% if not recent.user %}anonymous{% else %}
              <a title="View {{ recent.user.username }}'s profile"
                 class="user" href="{{ recent.user.get_absolute_url }}">
              {{ recent.user.username }}</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </section>
    {% endcache %}
  </td></tr></tbody></table>
{% endblock content %}
