{% load i18n %}
<div class="subnav">
  <ul>
    <li class="item nav-forum-archive"><a title="Browse Past Forum Posts" href="/forum/archive/">Archive</a></li>
    <li class="item nav-forum-bubbling"><a title="Articles Sorted By Last Comment" href="/forum/">Bubbling</a></li>
    <li class="item nav-forum-comments"><a title="Comment Feed" href="/forum/comments/">Comments</a></li>
    <!-- <li class="item nav-forum-most"><a title="Articles Sorted By Comment Count" href="/forum/most/">Most</a></li> -->
    <li class="last"><form id="forum-search" method="get" action="/forum/search/"><input class="{% if not forum_search %}clearme{% endif %}" type="text" name="q" value="{% if forum_search %}{{ forum_search }}{% else %}{% trans 'Search...' %}{% endif %}" /></form></li>
  </ul>
</div>
<div style="clear:both"></div>
