{% extends 'occupywallst/base.html' %}

{% block extra_head %}
  <style type="text/css">
    #navbar .nav-news { background: #900; }
  </style>
{% endblock extra_head %}

{% block content %}
  <table style="width:100%"><tbody><tr><td id="left">
    {% for article in articles %}
      <article id="article-{{ article.id }}">
        <h1><a title="View Full Article" href="{{ article.get_absolute_url }}">
            {{ article.title }}</a></h1>
        <p class="info">
          Published {{ article.published|date:"Y-m-d h:i:s T" }}
          by <a title="View {{ article.author.username }}'s profile"
                class="user" href="{{ article.author.get_absolute_url }}">
            {{ article.author.username }}</a>
        </p>
        {% if not article.is_forum and article.author.is_staff %}
          {{ article.content|safe }}
        {% else %}
          UH OH SPAGHETTIOS
        {% endif %}
        <p>
          <a title="View Comments" href="{{ article.get_absolute_url }}#comments">
            {{ article.comment_count }} Comments</a>
        </p>
      </article>
    {% endfor %}
  </td><td id="right">
    <section id="mission">
      {% if not user.is_authenticated %}
        <div class="buttons">
          <a class="gray button" href="/login/">Login</a>
          <a class="orange button" href="/signup/">Sign Up</a>
        </div>
      {% endif %}
      <a href="http://www.adbusters.org/campaigns/occupywallstreet">
        <img title="Propaganda" alt="#OCCUPYWALLSTREET Bull Poster"
             src="/media/img/wallst-250.jpg" width="250" height="379" /></a>
      <h3>Our Mission</h3>
      <p>
        On the <strong>17th of September</strong>, we want to see
        20,000 people to flood into lower Manhattan, set up tents,
        kitchens, peaceful barricades and occupy Wall Street for a few
        months.  Once there, we shall incessantly repeat one simple
        demand for radical and immediate change in a plurality of
        voices, following the example set by our Egyptian brothers and
        sisters in Tahrir Square.
      </p>
      <p>
        The time has come to deploy this emerging stratagem
        against the greatest corrupter of our democracy: Wall
        Street, the financial Gomorrah of America.  It's time for
        <strong>DEMOCRACY NOT CORPORATOCRACY!</strong>
      </p>
    </section>
  </td></tr></tbody></table>
{% endblock content %}
