{% extends base %}
{% load ows i18n l10n %}
{% block body_class %}news-page{% endblock %}

{% block content %}
  {{ verbiage.aboveindex }}
  <table style="width:100%"><tbody><tr><td id="left">
    <section id="articles">
      {% with read_more="True" %}
        {% for article in articles %}
          {% include "occupywallst/article_content.html" %}
        {% endfor %}
      {% endwith %}
    </section>
    <p style="font-weight:bold">
      <a href="/archive/page-2/">{% trans 'Older Posts' %}</a>
    </p>
  </td><td id="right">
    <section id="mission">
      {{ verbiage.index_sidebar }}
    </section>
  </td></tr></tbody></table>
{% endblock content %}
