{% extends base %}
{% load ows %}

{% block stylesheets %}
  <style type="text/css">
    #navbar .nav-news { background: #900; }
  </style>
{% endblock stylesheets %}

{% block content %}
  <table style="width:100%"><tbody><tr><td id="left">
    <section id="articles">
      {% for article in articles %}
        <article id="article-{{ article.id }}">
          <h1><a title="View Full Article" href="{{ article.get_absolute_url }}">
              {{ article.title }}</a></h1>
          <p class="info">
            Published {{ article.published|date:"Y-m-d h:i:s T" }}
            by {% if not article.author %}anonymous{% else %}
              <a title="View {{ article.author.username }}'s profile"
                 class="user" href="{{ article.author.get_absolute_url }}">
              {{ article.author.username }}</a>
            {% endif %}
          </p>
          <div class="article-content">
            {% if article.allow_html %}
              {{ article.content|markup_unsafe }}
            {% else %}
              {{ article.content|markup }}
            {% endif %}
          </div>
          <p>
            <a title="View Comments" href="{{ article.get_absolute_url }}#comments">
              {{ article.comment_count }} Comments</a>
          </p>
        </article>
      {% endfor %}
    </section>
  </td><td id="right">
    <section id="mission">
      {% if not user.is_authenticated %}
        <!-- <div class="buttons"> -->
        <!--   <a class="gray button" href="{% url login %}">Login</a> -->
        <!--   <a class="orange button" href="{% url signup %}">Sign Up</a> -->
        <!-- </div> -->
      {% endif %}
      <a href="http://www.adbusters.org/campaigns/occupywallstreet">
        <img title="Propaganda" alt="#OCCUPYWALLSTREET Bull Poster"
             src="/media/img/wallst-250.jpg" width="250" height="379" /></a>
      <h3>Our Mission</h3>
      <p>
        On the <strong>17th of September</strong>, we want to see
        20,000 people to flood into lower Manhattan, set up tents,
        kitchens, peaceful barricades and occupy Wall Street for a few
        months.  Once there, we shall incessantly repeat one simple
        demand in a plurality of voices and we <em>will not leave</em>
        until that demand has been met.
      </p>
      <p>
        Like our brothers and sisters in Egypt, Greece, Spain, and
        Iceland, we plan to use the
        revolutionary <a href="http://en.wikipedia.org/wiki/Arab_Spring">Arab
        Spring</a> tactic of mass occupation to restore democracy in
        America.  We also encourage the use of <em>nonviolence</em> to
        achieve our ends and maximize the safety of all participants.
      </p>
      <h3>Who is Occupy Wall Street?</h3>
      <p>
        Occupy Wall Street is leaderless resistance movement with
        people of many colors, genders and political persuasions.  The
        one thing we all have in common is
        that <a href="http://wearethe99percent.tumblr.com/">We Are The
        99%</a> that will no longer tolerate the greed and corruption
        of the 1%.
      </p>
      <p>
        The original call for this occupation was published by
        <a href="http://occupywallstreet.org/">Adbusters</a> in July;
        since then, many individuals across the country have stepped
        up to organize this event, such as the people of the NYC
        General Assembly and <a href="http://www.usdayofrage.org/">US
        Day of Rage</a>.  There'll also be similar occupations in the
        near future such
        as <a href="http://october2011.org/welcome">October2011</a> in
        Freedom Plaza, Washington D.C.
      </p>
      <h3>Why Bother?</h3>
      <p>
        When our leaders can no longer be trusted, it becomes the duty
        of the people to fight for social justice.  The Arab Spring
        tactic has proven itself effective in forcing governments to
        bow to the will of the people.  We believe this tactic can
        also work in America.  All we have to do is show up in large
        numbers, block traffic, not turn into a violent mob and most
        importantly&mdash;<em>not go home the next day</em>.  But to
        be fair, this is easier said than done.
      </p>
      <h3>What Is This "One Demand"?</h3>
      <p>
        What we demand from our government is for the people to decide
        through democratic consensus, not this website.
        A <a href="https://www.facebook.com/home.php?sk=question&id=10150311631011963&qa_ref=qd">Facebook
        poll started by Adbusters</a> suggests the demand might be an
        end to corporate personhood.
      </p>
    </section>
  </td></tr></tbody></table>
{% endblock content %}
