{% load ows i18n l10n %}

<div id="message-{{ message.id }}" class="message {% cycle off,on %}">
  <p class="info tinygray">
{% blocktrans with date=message.published|as_timezone:"US/Eastern"|date:"DATETIME_FORMAT" timesince=message.published|timesince_short from_user=message.from_user|userlink %}
{{ from_user }} said {{ timesince }} ago at {{ date }} EST
{% endblocktrans %}
    (<a class="delete" href="#">{% trans 'delete' %}</a>)
  </p>
  <div class="words">
    {{ message.content|markup|strip_annoying_html }}
  </div>
</div>
