{% extends base %}
{% block body_class %}rides-page{% endblock %}
{% block title %}Free Bus/Carpool Route Map | {{ OWS_SITE_NAME }}{% endblock title %}

{% block scripts %}
  <script src="//maps.google.com/maps/api/js?sensor=false&region=us" type="text/javascript"></script>
  <script src="//maps.google.com/maps/api/js?libraries=places&sensor=false&region=us" type="text/javascript"></script>
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  rides_init({
    "map": document.getElementById("map"),
    "center": new google.maps.LatLng(40.717712644386026, -74.00913921356198),
    "zoom": 8,
    "update_rides" : true,
  });

{% endblock js_init %}

{% block content %}
  <section id="rides">
    <h1 style="margin-bottom: 0.5em; ">
      Bus/Carpool
      <img id="loader" style="display:none" src="{{ MEDIA_URL }}img/ajax-loader.gif" width="16" height="16" />
    </h1>
    <div style="width: 100%; height: 500px; " id="map"></div>
    <a href="{% url ride_create %}" id="add_link">Add a ride</a>
{% endblock content %}
