{% extends base %}
{% load ows i18n l10n %}

{% block title %}{% trans 'Signup' %} | {{ OWS_SITE_NAME }}{% endblock title %}

{% block scripts %}
  <script src="//maps.google.com/maps/api/js?sensor=false&region=us" type="text/javascript"></script>
  <script src="//maps.google.com/maps/api/js?libraries=places&sensor=false&region=us" type="text/javascript"></script>
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  markfield_init({
    "elem": document.getElementById("map")
  });
{% endblock js_init %}

{% block content %}
  <table style="width:100%"><tbody><tr><td id="left">
    <section id="signup" style="margin: 0 0.5em; max-width: 700px; ">
      <h1>{% trans 'Signup' %}</h1>
      <form action="." method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <table class="formtable">
          <tbody>
            <tr>
              <td colspan="2">
                <h3>{% trans 'Required Fields' %}</h3>
              </td>
            </tr>
            {{ form.username|as_tr }}
            {{ form.password|as_tr }}
            {{ form.captcha|as_tr }}
            <tr>
              <td colspan="2">
                <h3>{% trans 'Optional Fields' %}</h3>
              </td>
            </tr>
            {{ form.email|as_tr }}
            {{ form.notify_message|as_tr }}
            {{ form.notify_news|as_tr }}
            {{ form.info|as_tr }}
            {{ form.position_lat }}
            {{ form.position_lng }}
            {{ form.formatted_address }}
            {{ form.country }}
            {{ form.region }}
            {{ form.city }}
            {{ form.address }}
            {{ form.zipcode }}
            <tr>
              <th>{% trans 'Location' %}</th>
              <td>
                <div style="width: 400px; height: 300px;" id="map"></div>
                <span class="helptext">
                  <a href="#" onClick="markfield_clear(); return false">
                    {% trans 'Click here to remove the marker.' %}</a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <p><input type="submit" value="Create Account" /></p>
      </form>
    </section>
  </td><td id="right">
    <h3 style="margin-top:0">Be Smart About Your Privacy!</h3>
    <ul class="funlist">
      <li>
        <strong>DON'T</strong> choose a password you've used anywhere
        else.
      </li>
      <li>
        <strong>DON'T</strong> set your location to exactly where you
        live.  Try to pick a major intersection or park in the
        town/city where you live.
      </li>
      <li>
        <strong>DON'T</strong> share any information you wouldn't want
        the feds to see.
      </li>
      <li>
        <strong>AVOID</strong> choosing a username you use on other
        websites.
      </li>
    </ul>
  </td></tr></tbody></table>
{% endblock content %}
