{% extends 'occupywallst/base.html' %}

{% block title %}OccupyWallSt | Telecommunications{% endblock title %}

{% block extra_head %}
  <style type="text/css">
    #navbar .nav-telecom { background: #900; }
  </style>
{% endblock extra_head %}

{% block scripts %}
  {{ block.super }}
  <script src="/media/js/telecom.js?v=5" type="text/javascript"></script>
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  telecom_init();
{% endblock js_init %}

{% block content %}
  <table style="width:100%"><tbody><tr><td id="left">
    <div id="telecom">
      <h1>Telecommunication Services</h1>
      <h3>Conference Bridge #1</h3>
      <ul>
        <li>Tel: <a href="tel:+12034456232">+1 (203) 445-6232</a></li>
        <li>VoIP: <a href="sip:ows.conf@occupywallst.org">sip:ows.conf@occupywallst.org</a></li>
        <li>Secure: <a href="sips:ows.conf@occupywallst.org">sips:ows.conf@occupywallst.org</a></li>
      </ul>
      <h3>Private Conferences (VoIP Only)</h3>
      <ul>
        <li>VoIP: sip:ows.conf.CHANGEME@occupywallst.org</li>
        <li>Secure: sips:ows.conf.CHANGEME@occupywallst.org</li>
      </ul>
      <h3>Donations</h3>
      <p>
        <a class="wepay-widget" href="https://www.wepay.com/donate/110790/?widget_type=donations&widget_donation_id=110790&widget_auth_token=6b1e4a2178f88a066984157682ce7e2260201d41&widget_show_description=1&widget_show_thermometer=1&widget_show_donations=1">Donate to Telecom Fund</a><script id="wepay-widget_script" type="text/javascript" src="https://www.wepay.com/min/js/widget.wepay.js"></script>
      </p>
    </div>
  </td><td id="right">
    <h2 style="margin-top:0">Information</h2>
    <p>
      We offer telecom services to activists who are organizing or
      participating in this event.  These services are completely
      free and open to the public based on the honor system.  When
      you use these services, please be respectful of others and
      remember it costs us <em>real</em> money.
    </p>
    <p>
      A conference bridge is a phone number a bunch of people can
      dial to have a meeting.  This is useful if you don't want to
      reveal your phone number or want to chat with more than three
      people (because then you could just have a three-way call.)
    </p>
    <p>
      To get started, ask your group to call into one of the numbers
      below at a specified time.  Please also be aware that anyone
      is able to listen to your conversation.
    </p>
  </td></tr></tbody></table>
{% endblock content %}
