{% extends base %}
{% load ows i18n l10n %}

{% block title %}{% blocktrans with username=obj.username %}{{ username }}'s User Profile{% endblocktrans %} | {{ OWS_SITE_NAME }}{% endblock title %}

{% block scripts %}
  <script src="//maps.google.com/maps/api/js?sensor=false&region=us" type="text/javascript"></script>
  <script src="//maps.google.com/maps/api/js?libraries=places&sensor=false&region=us" type="text/javascript"></script>
  {% if request.GET.new %}
    {% include "occupywallst/conversion.html" %}
  {% endif %}
{% endblock scripts %}

{% block js_init %}
  {{ block.super }}
  userpage_init({
    {% if obj.userinfo.position %}
      map: $("#map").get(0),
      lat: {{ obj.userinfo.position_lat }},
      lng: {{ obj.userinfo.position_lng }}
    {% endif %}
  });
{% endblock js_init %}

{% block content %}
  <table style="width:100%"><tbody><tr><td id="left">
    <h1 class="username" id="{{ obj.username }}">{{ obj.username }}</h1>
    <section id="user-profile">
      {% if obj.userinfo.info %}
        {{ obj.userinfo.info|linebreaks }}
      {% else %}
        <p style="color:#333">{% trans 'No Profile Information' %}</p>
      {% endif %}
    </section>

    <h2>{% trans 'Private Messages' %}</h2>

    {% if user.is_authenticated %}
      <p class="postform">
        <textarea rows="5" cols="50"></textarea><br />
        <button class="save">{% trans 'send message' %}</button>
        <img class="loader" src="{{ MEDIA_URL }}img/ajax-loader.gif"
             width="16" height="16" />
        <span class="error"></span>
      </p>
      <div id="messages">
        {% for message in messages %}
          {% include "occupywallst/message.html" %}
        {% endfor %}
      </div>
    {% else %}
      <p>Must be <a href="{% url login %}">logged in</a> to send messages.</p>
    {% endif %}

  </td><td id="right">

    <h2 style="margin-top:0">
      {% trans 'Information' %}
      {% if obj.username == user.username %}
        [<a href="edit/">{% trans 'Edit' %}</a>]
      {% endif %}
    </h2>
    <section id="user-info">
      <p>
        {% if obj.userinfo.city and obj.userinfo.region %}
          <strong>{% trans "From" %}</strong>
          {{ obj.userinfo.city }}, {{ obj.userinfo.region }}<br />
        {% endif %}
        <strong>{% trans "Joined" %}</strong>
        {{ obj.date_joined|as_timezone:"US/Eastern"|date:"DATE_FORMAT" }}<br />
      </p>
      {% if obj.userinfo.position %}
        <div id="map" style="width: 250px; height: 200px;"></div>
      {% endif %}
    </section>

    {% if nearby and obj.userinfo.position %}
      <h2>{% trans 'Nearby Users' %}</h2>
      <section id="nearby-users">
        <ul>
          {% for obj in nearby %}
            <li>
              <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
              <span class="tinygray">{{ obj.distance.mi|floatformat:0 }} miles</span>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

  </td></tr></tbody></table>
{% endblock content %}
